body {
    background-color: #1a1717;
    color: white;
  }
  
  .imageOne {
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width:200px;
    height:200px;
  }

  .listtag {
    line-height: 2rem;
    font-family: "Courier New", Courier, monospace;
    display: table;
    margin: 0 auto;
    padding-left: 105px;
  }

  p {
    line-height: 2rem;
    color: white !important;
    font-family: "Courier New", Courier, monospace;
  }

  .mailtag {
    color: yellow;
  }

  .headingClass,
  .moreInfo {
    color: greenyellow;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    
  }

  .navbar {
    width: 99%;
    background-color: #1a1717;
    margin-left:10px;
    overflow: hidden;
  }

  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 97%;
    text-align: center;
   }

   .navbar a:hover {
     background-color: #000;
   }

   .navbar a.active {
     background-color: greenyellow;
     color:black;
    }

    @media screen 
  and (min-device-width: 0px) 
  and (max-device-width: 768px) {
    p{
      font-size:12px;
    }

    .listtag{
      font-size:30px !important;
      line-height: 4rem;
    }

    .navbar a{
      font-size:30px;     
    }
  }

  @media screen 
  and (min-device-width: 280px) 
  and (max-device-width: 653px) {
    p{
      font-size:12px !important;
    }    
  }

  @media screen 
  and (min-device-width: 0px) 
  and (max-device-width: 768px) {
    p{
      font-size:22px;
    }

    .listtag{
      line-height: 3rem;
    }    
  }
